
.character-info {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.audio {
    position: absolute;
    right: 0.7rem;
    bottom: 0.35rem;
    width: 0.3rem;
    height: 0.3rem;
    background: url(../images/box5/sound.png) no-repeat center;
    background-size: 100%;
    z-index: 5;
}

.audio:hover {
    cursor: pointer;
}
.characterName{
    position: absolute;
    left: 0.8rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3rem;
    height: 0.85rem;
}
.character-en-name{
    flex: 1;
    font-size: 0.25rem;
   color: white;
}
.character-name{
    flex: 1;
    font-size: 0.4rem;
    color: white;
}
.roleShadow{
    position: absolute;
    top: 0;
    height: 5rem;
    width: 10rem;
    background: url(../images/draft/roleShadow.png) no-repeat;
    background-size: cover;
    z-index: 1;
}
.roleShadowRectangle {
    position: absolute;
    top: 0;
    right: 0;
    height: 5rem;
    width: 2rem;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: rgba(52, 51, 51, 0.5); /* 使用带透明度的颜色 */
    backdrop-filter: blur(2px); /* 添加模糊效果 */
    z-index: 1; /* 确保在其他内容之上 */
}
.roleTitle{
    position: absolute;
    bottom: 1.9rem;
    right: 0.3rem;
    color: white;
    font-size: 0.35rem;
    z-index: 4;
}
.avatarBox {
    position: absolute;
    bottom: 0.1rem;
    left: 0.6rem;
    width: 4rem;
    height: 2.5rem;
    z-index: 4;
}

.avatarBox .avatar {
    position: absolute;
    width: 0.8rem;
    height: 0.75rem;
    transition: transform 0.2s ease; /* 添加过渡效果 */
    opacity: 0.7;
}

.avatarBox .avatar:hover {
    cursor: pointer;
}

.avatarBox .avatar.selected {
    transform: scale(1.25); /* 选中时放大 */
    border-radius: 5px; /* 边框圆角 */
    opacity: 1;
}

/* .avatarBox .avatar:nth-child(1) {
    top: 0.5rem;
    left: 0.6rem;
    background: url(../images/draft/avatar6.png) no-repeat center;
    background-size: 100%;
} */

.avatarBox .avatar:nth-child(1) {
    top: 0.5rem;
    left: 0.6rem;
    background: url(../images/roleInfo/avatar1.png) no-repeat center;
    background-size: 100%;
}

.avatarBox .avatar:nth-child(2) {
    top: 0.5rem;
    left: 1.45rem;
    background: url(../images/roleInfo/avatar2.png) no-repeat center;
    background-size: 100%;
}

.avatarBox .avatar:nth-child(3) {
    top: 1.4rem;
    left: 0.6rem;
    background: url(../images/roleInfo/avatar3.png) no-repeat center;
    background-size: 100%;
}

.avatarBox .avatar:nth-child(4) {
    top: 1.4rem;
    left: 1.4rem;
    background: url(../images/roleInfo/avatar4.png) no-repeat center;
    background-size: 100%;
}

.avatarBox .avatar:nth-child(5) {
    top: 1.4rem;
    left: 2.2rem;
    background: url(../images/roleInfo/avatar5.png) no-repeat center;
    background-size: 100%;
}
.character-introBox{
    position: absolute;
    bottom: 0.1rem;
    right: 0.5rem;
    height: 1.58rem;
    width: 3rem;
    background: url(../images/draft/roleInfoBox.png) no-repeat;
    background-size: 100%;
    z-index: 4;
}
#character-intro{
    width: 100%;
    height: 95%;
    padding: 0.2rem;
    font-size: 0.12rem;
    box-sizing: border-box;
    color: white;
    border: none;
    resize: none;
    background-color: rgba(254, 254, 254, 0);
    font-family: 'MyCustomFont'; /* 使用自定义字体 */
}
#character-intro:focus {
    outline: none;
}

.character-image {
    position: absolute;
    width: 5rem; /* 适应容器宽度 */
    height: 5rem; /* 适应容器高度 */
    top: 0;
    right: 1.5rem;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
    background: url(../images/draft/role1.png) no-repeat center bottom;
    background-size: 120%;
}
.avatar-buttons{
    position: absolute;
    z-index: 8;
}

.character-image.show {
    opacity: 1;
    transform: translateX(0);
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}